<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WELCOME to HOMEPAGE</title>
    <link rel="stylesheet" href="{% static 'css/teststyle.css' %}">
  </head>
  <div class="body">
    <body>
      <div class="subscribe">
        <h2>Subscribe</h2>
        <script src="https://apis.google.com/js/platform.js"></script>

<div class="g-ytsubscribe" data-channelid="UCNf6Z90A535ezXeHbMm1TTQ" data-layout="full" data-theme="dark" data-count="default">
      </div>
      </div>
      <div class='heading'>
        <H1 class="headingtext">EASYCODESOL</H1>
      </div>
      <div class="mail">
        <div class="mailicon">

        </div>
        <div class="mailuson">
          <h2>Mail:-</h2>
        </div>
        <div class="mailid">
          <h2>ultimategamer10082211@gmail.com</h2>
        </div>
      </div>

      <div class="kpg">
      <div class='mainmenu'>
      <a class="menumainmenu"href="menu/mainmenu">Menu</a>
    </div>
    <div class="about">
      <a class="about1" href="about/aboutus">About</a>
    </div>
    <div class="contact">
      <a class="contact1" href="contact/feedback">Contact</a>
  </div>
</div>
    <div class="logo">
    </div>
    <div class="khali">
    </div>
    </body>
  </div>
</html>
